.items
  table()
    colgroup
      col(align="left")
    thead
      th.check
        md-checkbox
      th.number(contenteditable) 单据号
      th.text 摘要
      th.number 日期
      th.text 客户
      th.text 开票单位
      th.text 商品
      th.text 规格
      th.number 发出数
      th.number 实收数
      th.text 发货地
      th.text 到达地
      th.text 承运单位
      th.text 车辆
      th.text 运输方式
      th.check 自提
      th.text 备注
      th.check 作废
      th.number 修改时间
    tbody
      tr(ng-repeat="item in listController.list")
        td.check
          md-checkbox
        td.number {{item.dl_num}}
        td.text 销售
        td.number {{item.dl_date | date: 'yyyy-MM-dd'}}
        td.text 杭州有限公司
        td.text {{item.tblCustomer.name}}
        td.text {{item.tblCargo.name}}
        td.text {{item.tblCargo.spec}}
        td.number 12.70
        td.number 12.12
        td.text 杭州沥青库
        td.text 半山
        td.text 海伟
        td.text 浙c
        td.text 骑车
        td.check
          md-checkbox
        td.text asdfasdf
        td.check 
          md-checkbox
        td.number {{item.MDT | date: 'yyyy-MM-dd HH:mm'}}
