@import '../../../components/scssMixin/clearfix';

.operation {
  background-color: #f7f7f7;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 20px 0;
  @include clearfix;
  .search {
    float: right;
    margin: 0;
    .md-errors-spacer {
      display: none;
    }
  }
  .op-group {
    display: inline-block;
    margin-left: 20px;
  }
  .op {
    margin: 0;
    .delete {
      color: #f50057;
    }
  }
}